body {
    text-align: center;
    font-family: "arial";
    color: #333;
    font-size: 16px;
    margin: 0;
    padding: 0;
    background-color: grey;
}

.container{
    width: 70%;
    padding : 0;
    text-align: left;
    border: 1px solid #ddd;
    margin: 0 auto;
    background-color: white;
}

.cabecera{
    background: #33A;
    color: white;
    margin: 0;
    padding: 0.5em;
    display: flex;
    align-items: center;
}

.container h1{
    font-size: 20px;
}

.post{
    padding: 1em
}

.cabecera img{
    width: 10%;
}

.cabecera h1{
    font-size: 40px;
}

.footer{
    text-align: center;
    padding: 0.5rem;
    background-color: green;
    color: white;
}
